doctype html
html
    head   
    body
        if status == 404
            h1 Sorry we couldn't find that page.
        else if status == 500
            h1 Something went wrong.
        
        

        

