doctype html
html
    head
        title playlistMaker
        link(rel='stylesheet', href='landingpage.css', type='text/css')
        //- link htmx
        script(src='https://unpkg.com/htmx.org@1.9.9')
        

                
    body
        #navbar
            a#home(href='/') playlistMaker
            a#signin(href='/login') Login
        #main
            #landingpage
                h1 Welcome to playlistMaker
