/* * {
    color : #091c31;
} */
/* import sans frans font */
@font-face {
    font-family: 'SF Pro Display Light';
    src: url('./SF-Pro-Display-Light.woff2') format('woff2');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #151616;
    /* font-family: 'Roboto', sans-serif; */
    /* san fransisco font */
    font-family: 'SF Pro Display Light';
    font-size: 16px;
    margin: 0;
    padding: 0;
}



#navbar {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    width: 100%;
}

#signin {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    
    padding: 1rem;
    width: 3rem;
    /* move to the right */
    margin-left: auto;
    /* remove underlining */
    text-decoration: none;
    /* pad from the right */
    margin-right: 10rem;
    /* center text */
    text-align: center;
}




#username {
    background-color: #000000;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    
    padding: 0.5rem;
    width: 5rem;
    text-decoration: none;
    margin-right: 0rem;
    text-align: center;

   
}

#profilePic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    top: 60px; /* height of the picture plus margin */
}

#userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;


    align-items: center;
    gap: 5px;
    /* move all the way to the right */
    margin-left: auto;
    /* move some to the left */
    margin-right: 7rem;

 
}

#signout {
    /* remove underlining */
    text-decoration: none;
    /* add background color */
    background-color: #000000; /* for example, green */
    /* change text color */
    color: white;
    /* add some padding */
    padding: 10px 24px;
    /* add border */
    border: none;
    /* add border radius */
    border-radius: 4px;
    /* add cursor pointer */
    cursor: pointer;
    /* add some hover effect */
    transition: background-color 0.3s ease;
    /* center text */
    text-align: center;
    /* add full width */
    width: 20%;
    height: 25%;
    font-size: small;
}



#loginmessage {
    color: #fff;
    margin-right: 1rem;
    /* center */
    text-align: center;
    /* move down */
    margin-top: 10rem;
}

#home {
    /* remove underlining */
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
    /* center */
    text-align: center;
    /* pad from the left */
    margin-left: 7rem;
    /* font */
    font-size: 1.5rem;
    /* hover color */
    
}

#signin:hover, #home:hover {
    color: #2fff00; /* Change this to the color you want when hovered */
}

#playlistResultsHeader {
    color: #fff;
    /* center of page */
    text-align: center;
    /* font size */
    font-size: 1.25rem;
    
}



#playlistimg {
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

#playlist {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 0.60rem;
    border: 2px solid #000;
    padding: 10px;
    margin: 25px;
    background-color: #000000;

}
#playlistLeft {
    flex: 1;
    
    /* border */
    /* border: 2px solid #00ff2f; */
}



/* CSS for large screens */
@media (min-width: 1200px) {
    #playlistResults {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align items to the top */
        margin-left: 35rem;
        margin-right: 35rem;
    }
}
  
/* CSS for medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    #playlistResults {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align items to the top */
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
  
/* CSS for small screens */
@media (max-width: 767px) {
    #playlistResults {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align items to the top */
        margin-left: 17rem;
        margin-right: 17rem;
    }
}



#playlistmetadata {
    flex: 1;
    margin-top: 0px; /* Or add space above the metadata */
    /* center */
    text-align: center;
    /* border */
    /* border: 2px solid #00ff2f; */
}


#playlistactions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* border */
    /* border: 2px solid #00ff2f; */
}

#songandartistname {
    font-size: small;
    color: #ffffff;
}

#audiocontroller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;
    
}



#generatebutton {
    background-color: #1ED760;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    
    padding: 0.5rem;
    
    text-decoration: none;
    
    /* pad from the right */
    /* margin-right: 10rem; */
    /* center text */
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;

}

#generatebutton:hover, #deleteButton:hover, #addSongButton:hover {
    box-shadow: 0 0 3px #818181, 0 0 6px #818181, 0 0 9px #818181, 0 0 12px #818181;
}

#songs {
    padding: 10px;
    margin: 25px;
    /* border: 2px solid #00ff2f; */
    /* move up */
    margin-top: 0.1px;
    /* width: 300px; */
    /* space betweeb elements */
    animation: wipe 1s ease-out;

    
}

#spotifylogosongs {
    /* make circle */
    border-radius: 50%;
    /* make smaller */
    height: 20px;
    width: 20px;
}

#spotifylogoplaylists {
    /* make circle */
    border-radius: 50%;
    /* make smaller */
    height: 60px;
    width: 60px;
    /* move right */
    margin-left: 10px;
    
}

#nopreview {
    color: #ffffff;
    margin-left: 20px;
    font-size: small;
    
}


#previews {
    /* space between */
    margin-top: 25px;
}


#deleteButton {
    background-color: #f04b4b;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    
    
    /* move to the right */
    /* remove underlining */
    text-decoration: none;
    /* pad from the right */
    /* center text */
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}



.loader {
    display: none; /* Hidden by default */
  }


.loader.htmx-request {
width: 48px;
height: 48px;
border-radius: 50%;
display: inline-block;
position: relative; 
border: 3px solid;
border-color: #3b3838 #3b3838 transparent transparent;
box-sizing: border-box;
animation: rotation 1s linear infinite, wipe-cinematic-in 1s cubic-bezier(.25, 1, .30, 1) both;
}
.loader.htmx-request::after,
.loader.htmx-request::before {
content: '';  
box-sizing: border-box;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
border: 3px solid;
border-color: transparent transparent #1ED760 #1ED760;
width: 40px;
height: 40px;
border-radius: 50%;
box-sizing: border-box;
animation: rotation 1s linear infinite, wipe-cinematic-in 1s cubic-bezier(.25, 1, .30, 1) both;
transform-origin: center center;
}
.loader.htmx-request::before {
width: 32px;
height: 32px;
border-color: #000000 #000000 transparent transparent;
animation: rotation 1s linear infinite, wipe-cinematic-in 1s cubic-bezier(.25, 1, .30, 1) both;
}
    
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 
@keyframes rotationBack {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}

#loaderparent {
    
    display: flex;
    justify-content: center;
    
    /* border */
    /* border: 2px solid #00ff2f; */
}

  #addSongButton {
    background-color: #1ED760;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 0rem;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 20px;
    flex-shrink: 0;
    transition: box-shadow 0.2s ease-in-out;
}

#addedSongButton {
    background-color: #414141;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 0rem;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 20px;
    flex-shrink: 0;
    transition: box-shadow 0.2s ease-in-out;
}


.generatedsongs {
    animation: wipedown 2s ease-out forwards;

}

@keyframes wipe {
    0% {
        height: 0;
    }
    100% {
        height: 400px;
    }
}
      


@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  }


  @keyframes wipe-cinematic-in {
    0% {
      clip-path: inset(100% 0 100% 0);
    }
    30%, 70% {
      clip-path: inset(10% 0 10% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:cinematic"] {
     animation-name: wipe-cinematic-in;
  }

  /* This will apply to all <video> elements in Chrome and other WebKit-based browsers */


  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-panel {
    height: 50px;
    /* center text */
  }

  .toast-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
  }



/* video::-webkit-media-controls-play-button {

}

video::-webkit-media-controls-timeline {
} */





